body{
background: url('../images/optiontwo.jpg') no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#logo
{
    height: 7rem;
    width: 20rem;
    padding-left: 5rem;
}

#welcometext{
    padding-top: 20rem;
    padding-bottom: 2rem;
    text-align: center;



}

#lineone{
    font-size: 5rem;
    color: black;


}

#linetwo{
    font-size: 2rem;
    color: black;
}

#button{
    text-align: center;

}

#landingbutton{
    display:inline-block;
}

#yellowbutton{

    background-color: yellow; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    height: 7rem;
    width: 15rem;
    border: 1px solid yellow;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

#link{
    color:black;
    font-size: x-large;
    text-align: center;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#registerbox{
    padding-top: 13rem;
}

#todo{

    margin: auto;
    width: 60%;
    padding: 10px;


}

#todostart{
    padding-top: 12rem;

}

#todolist{
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgoldenrodyellow;
    padding: 10px;
    box-shadow: 5px 10px 18px grey;

}

#new{
    float: right;
    font-size: large;
    padding-right: 2rem;
}

#popupbox{
    box-shadow: 5px 10px 18px grey;
}

